@import 'tailwindcss';
@theme {
  --color-brand: #ff0000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  @apply flex flex-col items-center;
  @apply bg-zinc-900 text-gray-50;
}

#root {
  @apply w-full max-w-screen-2xl;
}
